.buttons-wrapper {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

.wrapper {
  background-color: var(--ifm-pre-background);
  border-radius: var(--ifm-pre-border-radius);
  color: var(--ifm-pre-color);
  font: var(--ifm-code-font-size) / var(--ifm-pre-line-height)
    var(--ifm-font-family-monospace);
  margin: 0 0 var(--ifm-spacing-vertical);
  overflow: auto;
  padding: var(--ifm-pre-padding);
  box-shadow: var(--ifm-global-shadow-lw);
}
