body {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: rgb(54, 44, 44);
    background-position: center;
  }

  .container {
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
  }

  canvas {
    border: 2px solid rgb(109, 109, 109);
  }

  #score {
    font-size: 2rem;
  }
  
  .information {
    color: #fff;
    margin-left: 5rem;
  }

  