name: check moonbit document

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - next/**
  schedule:
    - cron: '0 10 * * 2'

defaults:
  run:
    working-directory: next

jobs:
  check_link:
    name: check link
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
            python-version: '3.13'
      - run: pip install -r requirements.txt
      - run: python llm.py
      - run: make linkcheck
