name: check document examples

on:
  push:
    branches:
      - main
  pull_request:
    paths:
      - next/sources/**
  schedule:
    - cron: '0 10 * * 2'

jobs:
  build:
    strategy:
      matrix:
        os: 
          - ubuntu-latest
          - macos-latest
          - windows-latest
        backend: [wasm, wasm-gc, js]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: install
        uses: ./.github/actions/setup

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: moon check and test
        run: |
          moon update
          python scripts/check-document.py --backend ${{ matrix.backend }}
